@import url(globalstyles.css);
@import url(reset.css);

.html{
    background-color: var(--grey-1);
}

.frontpage__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16rem 10rem;
    background-color: var(--grey-1);
    color: var(--grey-5);
    min-width: 50vw;
    height: 100vh;
}

.frontpage__text--wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.frontpage__title{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    font-family: 'Courier New', Courier, monospace;
}

.frontpage__subtitle{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.frontpage__text{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.frontpage__wrapper{
    display:flex;
    font-family: 'Courier New', Courier, monospace;
}

.frontpage__picture--container{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-5);
}

.frontpage__image{
    object-fit: cover;
    border-radius:16px 0px 0px 16px;
}


.frontpage__button{
    width: 100%;
    border-radius: 6px;
    height: 50px;
    border: none;
    font-weight: 800;
    background-color: var(--grey-3);
    color: var(--grey-5);
    margin-top: 18px;
    font-size: 14px;
    padding: 8px 16px;
}